.subscription
  form.subscription__form
    input.subscription__input(type='email', placeholder='Укажите email')
    button.subscription__button(type='submit') Подписаться
  p.subscription__agreement Нажимая на кнопку вы  соглашаетесь на обработку 
    a.subscription-agreement__link(href="#") персональных данных
  p.subscription__thank Спасибо, что подписались на нашу рассылку!