.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 90px 50px 85px;
  background: #fff;
  z-index: 1050;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  &:target {
    opacity: 1;
    overflow-y: auto;
    pointer-events: auto;
  }

  &__button-close {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    position: relative;
    padding-left: 55px;
    color: $color-text;
    text-decoration: none;

    &::before {
      content: '';
      display: inline-block;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border-bottom: 4px solid #000;
      border-left: 4px solid #000;
      position: absolute;
      top: 3px;
      left: 20px;
      transform: rotate(45deg);

      @media screen and (max-width: 768px) {
        top: -3px;
        left: 4px;
      }

      @media screen and (max-width: 500px) {
        top: 2px;
        left: 5px;
        width: 15px;
        height: 15px;
        border-bottom-width: 2px;
        border-left-width: 2px;
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 26px;
      padding-left: 38px;
    }

    @media screen and (max-width: 500px) {
      font-size: 14px;
      line-height: 18px;
      padding-left: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 60px;
    text-align: center;
  }

  @media screen and (max-width: 500px) {
    padding: 20px;
  }
}