.promo
  .promo__info
    +logo.promo__logo
    h1.promo__title Конференции, которые нужны
    .promo__desc 
      p.promo__text Мы, JUG Ru Group, делаем крупнейшие конференции для программистов и сочувствующих.
      p.promo__text С нас — крутая программа, топовые спикеры, технические доклады без воды.
      p.promo__text С вас — готовность смотреть и общаться.
    .promo__buttons
      +button('Купить билет', '#').promo__button.promo__button_type_buy
      +button('Послать в жопу', '#go-away', 'secondary').promo__button.promo__button_type_go-away
  .promo__images
    .promo__image-animated
    .promo__image